/** L/R BLOCKS **/

#l1 {
  font-size: 2.75rem;
  margin: 0 0 0.75rem 0;
}

/*Pattern styles*/
.container {
  display: table;
  height: 100%;
  width: 100%;
  padding-bottom: 45px;
}

 #funciona {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  padding: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.left-half {

  /*background: transparent;
  border-style: groove;
  border-color: transparent;*/
  box-shadow: 0 0 2px #222;
}

.right-half {
  /*background: transparent;
  border-style: groove;
  border-color: transparent;*/
  box-shadow: 0 0 2px #222;
}

.left-half:hover {
  /*border-color: black;
  border-width: thin;*/
  box-shadow: 0 0 15px #4e5d6a;
}

.right-half:hover {
  /*border-color: black;
  border-width: thin;*/
  box-shadow: 0 0 15px #4e5d6a;
}

/*===============Redes Sociales button box===========*/
/*starting the body 50px down from the top of the page to avoid overlap with the navbar
body{
  padding-top: 50px;
}
*/

/*Borders to help ID where site content is nested*/
/*.border {
  border-style: dashed;
  border-color: orange;
  border-width: 2px;
}
*/
#introFrame{
  position:relative;
  padding-left: 325px;
}

#ifName{
  font-size: 50px;
  font-weight: 400;
  padding-top: 20px;
}

#intro-divider {
    width: 400px;
    border-top: 2px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}


div.transbox {
  margin: 100px;
  width: 50%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.85;
  padding: 20px;
}
div.transbox #buttons {
  margin: 5%;
}

  .icon-button {
	font-size: 2.5em;
}

/* Wrapper  	font-size: 1.3rem;*/
.icon-button {
	background-color: white;
	border-radius: 2.6rem;
	cursor: pointer;
	display: inline-block;
	height: 2.6rem;
	line-height: 2.6rem;
	margin: 0 25px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 2.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 20%;
	margin: 0;
	position: absolute;
	top: 40%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 5.0rem;
	height: 5.0rem;
	border-radius: 5.0rem;
	margin: -1.3rem;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 2.6rem;
	left: 0;
	line-height: 4.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 2.6rem;
	z-index: 10;
}






.facebook span {
	background-color: #3B5998;
}

.instagram span {
	background-color: #bc2a8d;
}
.youtube span {
	background-color: #bb0000;
}





.icon-button .fa-facebook {
	color: #3B5998;
}

.icon-button .fa-instagram {
	color: #bc2a8d;
}
.icon-button .fa-youtube {
	color: #bb0000;
}






.icon-button:hover .fa-facebook,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-youtube{
	color: white;
}

@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }

  .icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }

  /* Icons */
  .icon-button i {
	  height: 1.6rem;
	  line-height: 1.6rem;
	  width: 1.6rem;
  }
  div {
    position:relative;
	  border:
  }
